/*--------------------------------------------------------------
 Application.css
 Imports all stylesheets; sets defaults for bare elements
 --------------------------------------------------------------*/

@import 'layout.css';
@import 'content.css';

@media print { #sidebar { display: none; }
               #content { float: none; width: 90%; }
               #content pre { color: #000; background: #eee; }
               #content form.comments { display: none; } }

body {
  background: url(../../images/theme/background.gif) repeat-x left top;
  font: normal 12px "lucida grande", verdana, sans-serif;
}

input,
textarea { font: normal 12px "bitstream vera sans", verdana, sans-serif; }

abbr  { border: none; }
cite  { font-style: normal; }
a img { border: none; padding: 0; margin: 0; }

a:link,  a:visited { color: #000; }
a:hover, a:active  { color: #fff; background: #000; }

/* http://longren.org/2006/09/27/wrapping-text-inside-pre-tags */
pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap !important;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}